<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MiniEcommerce.Blazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="products">
                <i class="bi bi-cart3 fs-4 me-3" style="margin-top: -3px;" aria-hidden="true"></i>
                <span class="fw-bold">Shop</span>
            </NavLink>
        </div>
    </nav>
</div>

